:root {
  --color-purple: #8e44ad;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: var(--color-purple);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.incrementing-counter .count {
  margin: 0;
  font-size: 4.0em;
}

.describe {
  margin: 0 0 20px 0;
  letter-spacing: 0.1em;
}