:root {
  --color-background: #75bce6;
  --font-color: #000;
  --line-color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .sentence {
  color: var(--font-color);
  font-size: 10vw;
  font-weight: bold;
}

.container .sentence .letter {
  position: relative;
}

.container .line {
  position: absolute;
  top: 50%;
  transform: translateY(-2vw);
  left: -1.5vw;
  height: 3vw;
  width: 0;
  border-radius: 1.5vw;
  background-color: var(--line-color);
  z-index: 1;
  animation: grow 2s ease forwards;
}

@keyframes grow {
  to {
    width: 50vw;
  }
}
