:root {
  --color-theme: #ff5722;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
}

.header .title {
  font-size: 2.5em;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-modal {
  width: 600px;
  padding: 50px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-modal .start-btn {
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.game {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.stats span {
  font-size: 1.1em;
}

.stats .stat-value {
  color: var(--color-theme);
  margin-right: 15px;
}

.game-header .life {
  display: flex;
  justify-content: center;
}

.game-header .life .heart {
  font-size: 1.4em;
  margin: 0 3px;
  color: var(--color-theme);
}

.game-header .life .heart.used {
  color: #777;
}

canvas {
  border: 1px solid black;
}

.result-modal {
  width: 600px;
  padding: 40px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-modal .stats {
  margin-bottom: 20px;
}

.result-modal .restart-btn {
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.leaderboard {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-title {
  white-space: nowrap;
}

.records .record {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.records .rank {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-theme);
  margin-right: 10px;
}

.records .rank-stat-value {
  margin-right: 15px;
}

@media screen and (max-height: 1020px) {
  .leaderboard {
    display: none;
  }
}

@media screen and (max-height: 768px) {
  .header {
    display: none;
  }
}
